    /* Loading Spinner */

.wrap {
    height: 100vh;
    background-color: white;
    z-index: 3;
    position: fixed;
    animation: disappear 2.5s forwards;
    opacity: 0.8;
    pointer-events: none;
    inset:0;
}

.spinner-wrap {
    position: relative;
    margin:0 auto;
    width:100px;
    top:50%;
}
  
.spinner {
    height: 100px;
    width: 100px;
    inset:0;
    margin:auto;
    position:absolute;
    transform-origin: center center;
    animation: spin 1s steps(12, end) infinite;
    
    i {
      height: 30px;
      width: 6px;
      margin-left: -3px;
      display: block;
      transition: height 1s;
      position: absolute;
      left: 50%;
      transform-origin: center 50px;
      background: black;
      border-radius: 3px;
    }
}

    /* Header + logo */

header{
    text-align: center;
    box-shadow: 0px 3px 5px rgb(205, 205, 205);
    position: relative;
    padding:15px;
}

#logo{
    width: 250px;
}

    /* Localisation */

#location{
    background-color: rgb(245, 245, 245);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    & .fa-solid{
        margin-right:15px;
    }

}

    /* Bouton explorer */

#explorer{
    padding: 40px 20px;
    background: linear-gradient(white, rgb(245, 245, 245) );
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;

    &--btn{
        @include button;
    }

    & h1{
        font-size:30px;
    }

    & p{
        font-size: 20px;
        margin-bottom: 15px;
    }
}

    /* Fonctionnement */

#functions{
    padding:40px 20px;

    & h2{
        font-weight: bold;
        margin-bottom: 15px;
    }
}

.btn{
    display:flex;
    align-items: center;

    &--number{
        background-color: $color-primary;
        padding: 6px;
        border-radius: 100%;
        position:absolute;
        color: white;
        width: 10px;
        height: 10px;
        text-align: center;
        font-size: 11px;
        box-sizing:content-box;
        font-weight: bold;
    }

    &--functions{
        padding: 22px;
        border-radius: 20px;
        border:none;
        margin: 10px 10px;
        width: 100%;
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        box-shadow: 3px 7px 5px rgb(222, 222, 222);
        background-color: rgb(245, 245, 245);

        &--store{
            background-color: lighten($color: $color-primary, $amount: 35%);

            & .fa-solid{
                color: $color-primary;
            }
        }
    }

    & .fa-solid{
        margin: 0 30px 0 10px;
        font-size: 20px;
    }
}

    /* Section restaurants */

#restaurants{
    padding: 40px 20px;
    background-color: rgb(245, 245, 245);
    display:flex;
    flex-direction: column;

    & h2{
        margin-bottom: 20px;
    }
}

.restaurants--cards{
    border-radius: 15px;
    @include shadow;
    height: 300px;
    margin-bottom: 30px;
    width:100%;
    box-sizing: border-box;
    position:relative;

    &--img{
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height:75%;
        z-index:1;

    }

    &--body--description{
        padding:10px 20px 20px 15px;
    }

    &--body{
        display: flex;
        justify-content: space-between;
        position:relative;
            
            & .fa-regular{
                @include index-heart;

            }
            & .fa-solid{
                @include index-heart;
                color: transparent;
                transition: 200ms;
            }
    }

    & a{
        color:black;
    }

    & .new{
        position:absolute;
        z-index: 2;
        background-color: $color-tertiary;
        color: darken($color: $color-tertiary, $amount: 40%);
        top: 4%;
        right: 15px;
        padding: 8px 12px;
        border-radius: 2px;
        font-weight: bold;
    }
}

    /* Responsive */

@media screen and(min-width: 768px){
    .restaurants--cards{
        width:47%;
    }

    #cards--position{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
    }

    #functions{
        display:flex;
        flex-direction: column;

        &--position{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap:0px 50px;
        }
    }

    .btn {
        width: 340px;
    }
}

@media screen and(min-width: 1024px){
    .restaurants--cards{
        width:22%;
    }

    .btn{
        box-sizing: border-box;
    }
}