@import url("./style.css");
@import url("./footer.css");
@import url("./animations.css");
@import url("./keyframes.css");
.wrap {
  height: 100vh;
  background-color: white;
  z-index: 3;
  position: fixed;
  -webkit-animation: disappear 3s forwards;
          animation: disappear 3s forwards;
  opacity: 0.8;
  pointer-events: none;
  inset: 0;
}

.spinner-wrap {
  position: relative;
  margin: 0 auto;
  width: 100px;
  top: 50%;
}

.spinner {
  height: 100px;
  width: 100px;
  inset: 0;
  margin: auto;
  position: absolute;
  transform-origin: center center;
  -webkit-animation: spin 1s steps(12, end) infinite;
          animation: spin 1s steps(12, end) infinite;
}
.spinner i {
  height: 30px;
  width: 6px;
  margin-left: -3px;
  display: block;
  transition: height 1s;
  position: absolute;
  left: 50%;
  transform-origin: center 50px;
  background: black;
  border-radius: 3px;
}

header {
  text-align: center;
  box-shadow: 0px 3px 5px rgb(205, 205, 205);
  position: relative;
  padding: 15px;
}

#logo {
  width: 250px;
}

#location {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
#location .fa-solid {
  margin-right: 15px;
}

#explorer {
  padding: 40px 20px;
  background: linear-gradient(white, rgb(245, 245, 245));
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#explorer--btn {
  border-radius: 25px;
  padding: 15px;
  width: 250px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-weight: bold;
  border: none;
  font-size: 15px;
  box-shadow: 0px 0px 5px #494949;
  cursor: pointer;
}
#explorer h1 {
  font-size: 30px;
}
#explorer p {
  font-size: 20px;
  margin-bottom: 15px;
}

#functions {
  padding: 40px 20px;
}
#functions h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.btn {
  display: flex;
  align-items: center;
}
.btn--number {
  background-color: #9356DC;
  padding: 6px;
  border-radius: 100%;
  position: absolute;
  color: white;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: 11px;
  box-sizing: content-box;
  font-weight: bold;
}
.btn--functions {
  padding: 22px;
  border-radius: 20px;
  border: none;
  margin: 10px 10px;
  width: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 3px 7px 5px rgb(222, 222, 222);
  background-color: rgb(245, 245, 245);
}
.btn .fa-solid {
  margin: 0 30px 0 10px;
  font-size: 20px;
}

#restaurants {
  padding: 40px 20px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}
#restaurants h2 {
  margin-bottom: 20px;
}

.restaurants--cards {
  border-radius: 15px;
  box-shadow: 0px 0px 5px #494949;
  height: 300px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.restaurants--cards--img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 75%;
  z-index: 1;
}
.restaurants--cards--body--description {
  padding: 10px 20px 20px 15px;
}
.restaurants--cards--body {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.restaurants--cards--body .fa-regular {
  font-size: 25px;
  margin-top: 20px;
  position: absolute;
  right: 4%;
  background-color: transparent;
  border: none;
}
.restaurants--cards--body .fa-solid {
  font-size: 25px;
  margin-top: 20px;
  position: absolute;
  right: 4%;
  color: transparent;
  background-color: transparent;
  border: none;
  transition: 200ms;
}
.restaurants--cards a {
  color: black;
}
.restaurants--cards .new {
  position: absolute;
  z-index: 2;
  background-color: #99E2D0;
  color: #278870;
  top: 4%;
  right: 15px;
  padding: 8px 12px;
  border-radius: 2px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .restaurants--cards {
    width: 47%;
  }

  #cards--position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }

  #functions {
    display: flex;
    flex-direction: column;
  }
  #functions--position {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px 50px;
  }

  .btn {
    width: 340px;
  }

  footer h4 {
    margin-left: 50px;
  }
  footer ul {
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants--cards {
    width: 22%;
  }

  .btn {
    box-sizing: border-box;
  }
}/*# sourceMappingURL=index.css.map */