@import url("./style.css");
@import url("./footer.css");
@import url("./animations.css");
@import url("./keyframes.css");

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position:relative;

    & .fa-solid{
        position:absolute;
        left:20px;
        top: 20px;
        font-size: 25px;
    }
    
    & #logo{
        width:250px;
    }
}

#background {
    position:relative;

    & img{
        position:relative;
        z-index: 1;
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

#menu{
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 20px;
    text-align: center;
    margin-top: -40px;;
    position:relative;
    z-index: 2;

    &--title{
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position:relative;
        
        & h1{
            font-size: 25px;
        }

        & .fa-regular{
            font-size: 30px;
            top: 25%;
            position:absolute;
            right:10%;
            background-color: transparent;
            border:none;

        }
        & .fa-solid{
            font-size: 30px;
            top: 25%;
            position:absolute;
            right:10%;
            color: transparent;
            background-color: transparent;
            border:none;
            transition: 200ms;
        }

        & h1{
            font-family: "shrikhand";
            font-weight: lighter;
        }
    }

    &--btn{
        border-radius: 25px;
        padding:15px;
        width:50%;
        color:white;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        font-weight: bold;
        border: none;
        font-size: 15px;
        box-shadow: 0px 0px 5px #494949;
        margin-bottom: 60px;
    }
}

.price{
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
}

.menu--plats{
    margin: 30px 0px 40px 0px;
    text-align: left;

    & h2{
        margin: 20px 0px;
        border-bottom: solid 3px $color-tertiary;
        width:50px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: normal;
    }

    &--body{
        border-radius: 15px;
        background-color: white;
        margin-bottom: 15px;
        overflow: hidden;
        cursor:pointer;
        display:flex;
        justify-content: space-between;
        box-shadow: 3px 4px 5px rgb(222, 222, 222);
        
        animation: appear 1.5s;
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: 250ms * $i;
            }
        }

        &--content{
            display: flex;
            justify-content: space-between;
            width:100%;
            padding:15px;
            overflow: hidden;
        }
    
        &--description{
            display:flex;
            flex-direction: column;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            & h3{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            }

            &--description{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

    }

}

.check{
    display: flex;
    align-items: center;
    justify-content: center;
    width:70px;
    font-size: 25px;
    color:white;
    background-color: $color-tertiary;
    margin-right: -150px;
    border-radius: 0 15px 15px 0;
    transition: margin-right 0.8s;
}

@media screen and(min-width: 992px){
    .menu--position{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:20px;
    }

    .menu--plats{
        width:40%;
        margin: 0 10px;
    }
    #menu--btn{
        margin-top: 40px;
    }

    #menu--title{
        justify-content: center;
    }
    
    footer{

        & h4{
            margin-left: 50px;
        }
        
        & ul{
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 50px;
        }
    }
}